.conts-area-wrap{display:flex; width:100%; height:100%; flex-wrap: wrap; padding:18px 35px; overflow-y:auto;}
.conts-area-wrap .conts-area{width:calc(50% - 30px); height:calc(52% - 20px); margin-right:60px; margin-top:20px; overflow-y:auto;}    
.conts-area-wrap .conts-area:nth-child(even){margin-right:0;}
.conts-area-wrap .conts-area:nth-child(1), .conts-area-wrap .conts-area:nth-child(2){margin-top:0; height:calc(48% - 20px);} 
.conts-box-wrap{display:flex; gap:42px;}
.conts-box-wrap .conts-box{width:55%; flex:0 0 55%;}
.conts-box-wrap .conts-box:nth-child(1){width:calc(45% - 42px); flex:0 0 calc(45% - 42px)}
.conts-box{padding:10px 18px; border-bottom:1px solid var(--color-border-color3); min-height:100%;}
.conTit-wrap{display:flex; align-items: center; justify-content: space-between;}
.conTit{color:var(--color-text-gray-2); font-size:13px; font-weight:600;}
.btn-wrap .btn + .btn{margin-left:10px;}
.conts-box-inner{margin-top:15px;}
.conts-box-inner.chart-wrap, .chart-wrap{display:flex; align-items: center; justify-content: center; height:calc(100% - 18px);}
.donutChart-box{position:relative; width:100%; height:150px;}
.donutChart-box .chart-area{width:100%; height:100%;}
.donutChart-box .center-text {position: absolute; top:50%;left:50%;transform: translate(-50%, -50%);text-align: center;pointer-events: none; z-index: 10;}
.donutChart-box .center-text .label {display: block; font-size: 12px; color:var(--color-text-gray-2)}
.donutChart-box .center-text .value {font-size: 20px; font-weight: 600; color:var(--color-text-gray-2)}
.donutChart-box .center-text .value em{font-weight:400; font-size:16px;}
.lineChart-box .dxc-val-line path, .lineChart-box .dxc-arg-line path{stroke:rgba(0,0,0,0.1);}
.barChart-box .dxc-val-line path, .barChart-box .dxc-arg-line path{stroke:rgba(0,0,0,0);}
.lineChart-box{position:relative; width:100%; height:280px;}
.chart{width:100%; height:100%;}
.chart-area-multi{display:flex; padding:0 90px;}
.barChart-box{position:relative; width:100%; height:160px;}
.chart-area-multi .select-field{width:100px; margin-right:20px; flex:0 0 100px;}
.chart-area-multi .barChart-box{flex:0 0 calc(100% - 100px); height:150px;}
.chart-area-multi + .grid-table-area{margin-top:24px;}
.chart-area-multi .donutChart-box{width:50%;}

/* grid table (DevExpress) */
.wrapper .dx-grid-custom {font-size:12px; width:100%; height:150px;}
.dx-grid-custom .dx-datagrid .dx-column-lines>td { border-left:0; border-right:0;}
.dx-grid-custom .dx-datagrid-borders .dx-datagrid-rowsview, 
.dx-grid-custom .dx-datagrid-headers+.dx-datagrid-rowsview, 
.dx-grid-custom .dx-datagrid-rowsview.dx-datagrid-after-headers{border:0;}
.dx-grid-custom .dx-datagrid-borders>.dx-datagrid-headers, .dx-grid-custom .dx-datagrid-borders>.dx-datagrid-rowsview, 
.dx-grid-custom .dx-datagrid-borders>.dx-datagrid-total-footer{border-left:0; border-right:0;}

/* gird */
.flexible-area{display:grid; grid-template-rows:1fr 12px 1fr; width:calc(100% - 0px); height:100%; gap:0; overflow:hidden; background:#FAFAFA;}
.grid-row{display:flex; flex-direction: row; align-items: stretch; overflow:visible; gap:10px;}
.grid-col{display:flex; flex-direction: column; align-items: stretch; overflow:visible;}
.grid-area{position:relative; height:50%;  padding:15px; min-height:0px; display:flex; flex-direction: column; overflow:hidden; border:1px solid #EFEFEF; border-radius:10px; background:#FFF;}
.grid-conts{height:100%; overflow-y:auto;}
.grip{background:#e5e7eb; cursor:col-resize; user-select:none;}
.grip-v{cursor:row-resize; user-select:none; height:10px; width:100%;}
.resize-v{position:absolute; left:0; right:0; bottom:0; height:8px;  cursor:row-resize; z-index:2; width:100%;}
.grid-col .grid-area:last-child .resize-v{ display:none; }
.grid-row .grid-area{width:100%; height:100%;}
.resize-h{position:absolute; right:0; bottom:0; height:100%; width:4px; background:transparent; cursor:col-resize; z-index:2;}
.grid-area:last-child .resize-h{ display:none;}
.grid-conts .data-list-cards.col-3{grid-template-columns: repeat(3, 1fr); justify-content: center;}
.grid-conts .data-list-card{width:100%; height:100%;}
.grid-conts-inner{margin-top:15px; height:calc(100% - 35px);}
.grid-conts-inner .grid-table-area{position:relative; height:calc(100% - 180px);}
.grid-conts-inner .grid-table-area .dx-grid-custom{position:absolute; height:100%;}
.keyword-wrap{position:relative; width:100%; height:100%; overflow:hidden;}
.keyword-area{ position:absolute; z-index:10; top:50%; left:0; inset:0; width:100%; height:100%;} 
.grid-area{background-image:url('../images/icon-drag.png'); background-position: right bottom; background-repeat: no-repeat;}
.conts-area-wrap.flexible-area.type-flexible{padding:18px 18px; background:#FFF;}
.conts-area-wrap.flexible-area.type-flexible .grid-row{gap:22px; height:calc(100% - 0px); overflow:hidden}
.conts-area-wrap.type-flexible .grid-area{padding:0; border:0; border-radius:0; height:100%;}
.conts-area-wrap.type-flexible .grid-row .grid-area:last-child{background:none;}

/* 색상 type */
.wrapper.col-orange .switch:checked{ background: #F78C56;}

/* accordion */
.conts-area-wrap.type-flexible .grid-area.acc-area{border:1px solid #E8E8E8;}
.accordion{border-bottom:1px solid #E8E8E8;}
.accordion-header{display:flex; align-items:center; justify-content:space-between; gap:10px; padding:12px 14px; flex-wrap: wrap; background:#F8F8F6;}
.accordion-header .btn-acc{flex:0 0 auto; display:flex; gap:6px; margin-left:8px; font-size:13px; font-weight:600;}
.accordion-header .btn-acc:before{content:'+'; width:10px;}
.accordion.active .accordion-header .btn-acc:before{content:'-'}
.accordion.active .accordion-header{background:#FFF;}
.accordion-conts{display:none; padding:0px 15px 15px 15px;}
.accordion + .accordion{border-top:0;}
.accordion-wrap .accordion:last-child{border-bottom:0;}
.accordion-header .tab-list-wrap{margin-left:auto;}
.accordion-wrap.type-d .accordion-header{padding:12px 0;}
.accordion-wrap.type-d .accordion-conts{padding:0 0 15px 8px;}
.accordion-wrap.type-d .accordion{border-bottom:0;}
.accordion-wrap.type-d .accordion + .accordion{margin-top:20px;}

/* tab list */
.tab-list{display:flex; min-height:26px; height:100%;}
.tab-list>li{width:auto; padding:5px 10px; border:1px solid #E8E8E8; border-radius:6px 6px 0 0; color:#999; font-weight:500; background:#FFF;}
.tab-list>li.active{position:relative; border:1px solid #FCA375; color:#FF6E24; background:#FFFAF4; z-index:10}
.tab-list>li>a{display:block; width:100%; height:100%;}
.tabCont-wrap .tabCont{display:none;}
.tabCont-wrap .tabCont.active{display:block;}

/* 메세지 chat */
.msg-wrap{ container-type:inline-size;}
.msg-header{display:flex; justify-content: space-between; align-items:center; gap:10px;}
.msg-header .msg-info{display:flex; gap:16px;}
.msg-header .msg-info.info1{width:40%;}
@container ((min-width:100px) and (max-width:800px)){
  .msg-header{flex-wrap: wrap;}
}
.msg-header + .msg-box{margin-top:10px;}
.msg-box{height:250px; padding:20px 22px; border-radius:6px; overflow-y: auto; 
  background-color: #EFEFEF; /* 원하는 배경색 */
  background-image: radial-gradient(#ddd 1px, transparent 1px);
  background-size: 10px 10px;
}
.msg-area{display:flex; position:relative;}
.msg-area .msg-inner{max-width:80%;}
.msg-area.customer{justify-content: flex-start; padding-left:40px;}
.msg-area.bot{justify-content: flex-end;}
.msg-area .msg{padding:10px 12px; color:#222; line-height: 1.5;}
.msg-area.bot .msg{ background-color:#FFF5CD; border-radius: 12px 12px 0 12px; border: 1px solid rgba(0, 0, 0, 0.05);}
.msg-area.customer .msg{background-color:#FFF; border-radius: 12px; border:1px solid rgba(0, 0, 0, 0.10);}
.msg-area.customer .name{margin-bottom:4px; color:var(--color-text-black); font-weight:600; font-size:12px;}
.msg-area .date{margin-top:4px; color:var(--color-text-gray2); font-size:12px;}
.msg-area.bot .date{text-align:right;}
.msg-area.customer:before{content:attr(data-customer); position:absolute; top:-2px; left:0; display:inline-flex; align-items: center; justify-content:center; width:34px; height:34px; color:#FFF; font-weight:600; background:#95BDF0; border-radius:50%;}
.msg-area .msg + .msg{margin-top:4px;}
.msg-area .msg>span{padding:2px 4px; color:#F00; background-color:rgba(255, 213, 213, 0.70); border-radius:2px;}

/*미디어쿼리 */
@media (min-width: 1024px) and (max-width: 1279px) {/* 테블릿 가로 사이즈 */ 
.wrapper{height:auto;}
.header{position:sticky; top:0; left:0; z-index:999; background:pink; }
.container{height:auto;}
.header-wrap .info-area{gap:35px;}
.header-wrap .info-area>div + div{margin-left:0;}
.conts-area-wrap.flexible-area.type-flexible{display:block;  height:auto;}
.conts-area-wrap.flexible-area.type-flexible .grid-row{display:block; width:100%;}
.conts-area-wrap.flexible-area.type-flexible .grid-row .grid-area{display:block; width:100% !important;}/* width 확인 */
.conts-area-wrap.flexible-area.type-flexible .grid-row .grid-area + .grid-area{margin-top:22px;}
.conts-area-wrap.flexible-area .grid-row .grid-area{background-image: none;}
.conts-area-wrap.flexible-area .grid-row .grid-area .resize-h {display:none;}/* resizable 제거 */
.conts-area-wrap.flexible-area .grip-v{display:none;}
.conts-area-wrap.flexible-area .grip-v + .grid-row{margin-top:10px;}
.conts-area-wrap.flexible-area{display:block; height:auto;}
.grid-row.row-1, .grid-row.row-2{flex-wrap:wrap;}
.grid-row.row-1 .grid-area:nth-child(1), .grid-row.row-1 .grid-area:nth-child(2),
.grid-row.row-2 .grid-area:nth-child(1), .grid-row.row-2 .grid-area:nth-child(2){width:calc(50% - 5px); height:350px; flex:0 0 calc(50% - 5px) !important}
.grid-row.row-1 .grid-area:nth-child(3),
.grid-row.row-2 .grid-area:nth-child(3){width:100%; flex:0 0 100% !important;  height:400px;}
.data-list-card{min-height:60px;}
.chart-area-multi{padding:0 20px;}
}
@media (min-width: 300px) and (max-width: 1023px) {/* 테블릿 세로 사이즈 */
.wrapper{height:auto;}
.header{position:sticky; top:0; left:0; z-index:999; padding-top:15px; background:#CCC;}
.container{height:auto;}
.header-wrap{flex-wrap:wrap; height:auto;}
.header-wrap .info-area{width:100%; justify-content:space-between; gap:0 20px; flex-wrap: wrap; padding-top:4px;}
.header-wrap .info-area>div + div{margin-left:0;}
.header-wrap .info-area>div:last-of-type{margin-left:auto;}
.conts-area-wrap{padding:18px;}
.conts-area-wrap.flexible-area.type-flexible{display:block;  height:auto;}
.conts-area-wrap.flexible-area.type-flexible .grid-row{display:block; width:100%;}
.conts-area-wrap.flexible-area.type-flexible .grid-row .grid-area{display:block; width:100% !important;}/* width 확인 */
.conts-area-wrap.flexible-area.type-flexible .grid-row .grid-area + .grid-area{margin-top:22px;}
.conts-area-wrap.flexible-area .grid-row .grid-area{background-image: none;}
.conts-area-wrap.flexible-area .grid-row .grid-area .resize-h {display:none;}/* resizable 제거 */
.conts-area-wrap.flexible-area .grip-v{display:none;}
.conts-area-wrap.flexible-area .grip-v + .grid-row{margin-top:10px;}
.conts-area-wrap.flexible-area{display:block; height:auto;}
.grid-row.row-1, .grid-row.row-2{flex-wrap:wrap;}
.grid-row.row-1 .grid-area:nth-child(1), .grid-row.row-1 .grid-area:nth-child(2),
.grid-row.row-2 .grid-area:nth-child(1), .grid-row.row-2 .grid-area:nth-child(2){width:calc(50% - 5px); height:350px; flex:0 0 calc(50% - 5px) !important}
.grid-row.row-1 .grid-area:nth-child(3),
.grid-row.row-2 .grid-area:nth-child(3){width:100%; flex:0 0 100% !important;  height:400px;}
.data-list-card{min-height:60px;}
.chart-area-multi{padding:0 20px;}
}
/* @media (min-width: 300px) and (max-width: 767px) {

} */